body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: red;
  font-style: italic;
  font-size: 17px;
  font-weight: bold;
}
p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: blue;
  font-style: italic;
  font-size: 15px;
  line-height: 1.6;
}
img {
  border: 1px solid red;
  width: 200px;
  height: 80px;
  float : left;
}
a {
  color: red;
  border: 3px solid black;
  position: fixed;
  left: 10px;
}
